*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

li{
    display: inline;
    text-decoration: none;
    padding: 0 6px;
}   

#logo{
    padding-right: 10px;
    float: left;
}

.menufloat{
    float: right;
}

.blu-button{
    padding:5px 10%;
    background-color: rgb(66, 66, 224);
    color: white;
}

.banner{
    width: 100%;
    height: 400px;
    background-color: rgb(112, 112, 233);
}

h1{
    padding: 50px 10% 20px;
    text-align: center;
}

section{ 
    width: 80%;
    height: 500px;
    margin:  10px auto;
}

h2{
    margin-bottom: 15px;
}

.testo-sinistra{
    max-width: 50%;
    padding :0  10%;
}

 #terza-section, #sesta-section{
    background-color: aqua;
}

#prima-section{
    height: auto;
}

.piano-business{
    border: 1px solid grey;
    width: calc(96%/3);
    height: auto;
    display: inline;
    float: left;
    margin-top: 10px ;
    margin-bottom: 5%;
} 

.head-box{
    height: auto;
    border-bottom: 1px solid grey;
    text-align: center;
}

.centratura-piano{
    padding: 1% 3% 1% 3%;
}
.mese{
    color: rgb(110, 108, 108);
}

#prova-gratis{
    margin: 30px auto 20px auto;
    width: 100%;
}

hr{
    margin: 5% 0;
    width: 25%;
}

#col2{
    margin: 10px 2% 0;
}

.spunta{
    color: rgb(96, 16, 187) ;
}


.section-piano-business{
    border: 1px solid grey;
}

#contatta-ufficio-vendite /*bottone*/{
    float: right;
    margin-top: 10px;
}

.enterprise{
    margin: 15px  50% 15px 10px;

}

#quinta-section{
    width: 100%;
    height: 400px;
    background-color: rgb(201, 231, 90);
}

footer{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: black ;
}

