*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

li{
    display: inline;
    text-decoration: none;
    padding: 0 6px;
}   

#logo{
    padding-right: 10px;
    float: left;
}

.menufloat{
    float: right;
}

#button-start{
    padding: 3px 5px
    
}