*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

li{
    display: inline;
    text-decoration: none;
    padding: 0 6px;
}   

#logo{
    padding-right: 10px;
    float: left;
}

.menufloat{
    float: right;
}

.blu-button{
    padding: 3px 5px;
    background-color: rgb(66, 66, 224);
    color: white;
}

.banner{
    width: 100%;
    height: 400px;
    background-color: rgb(112, 112, 233);
}

h1{
    padding: 50px 10% 20px;
    text-align: center;
}

section{ 
    width: 80%;
    height: 400px;
    margin:  10px auto;
}

h2{
    margin-bottom: 15px;
}

.testo-sinistra{
    max-width: 50%;
    padding :0  10%;
}



#prima-section, #terza-section, #sesta-section{
    background-color: aqua;
}

.piano-business{
    
    width: calc(96%/3);
    height: 100px;
    background-color: purple;
    display: inline;
    float: left;
} 

#col2{
    margin: auto 2%;
}

#quinta-section{
    width: 100%;
    height: 400px;
    background-color: rgb(201, 231, 90);
}



footer{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: black ;
}